/*
etiqueta normal = nada
etiqueta universal = *
etiqueta id = #
etiqueta class = .
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: lightgray;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px  0px 10px 10px gray;
    border: 1px solid black;
    background: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:hover{
    background: #01B1EA;
}


/*content*/
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

#lateral{
    width: 15%;
    min-height: 650px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid blue;
}
#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border: 2px solid #01b1EA;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #157985;
    color: black;
}

input[type="button"],
input[type="submit"],
.button{
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

.button{
    background: #2979cd;
    color: white !important;
    text-decoration: none;
}

#central{
    width: 80%;
    min-height: 550px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

.product{
    width: 30%;
    border: 1px solid rgb(167, 167, 167);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: -5px -1px 7px rgb(143, 143, 143);
}

.product img{
    height: 150px;
    margin-bottom: 10px;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.product a{
    color: black;
    text-decoration: none;
}

.product a:hover{
    color: #555;
}



#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #222;
    color: white;
    border-top: 5px solid #01B1EA;
}